body {
  display: flex;
  margin: 0;
  background: linear-gradient(0.25turn, #0f141d, #1e1d27, #180d24);
  font-family: Arial, sans-serif;
}

#animation-container {
  position: relative;
  height: calc(100vh - 220px);
}

#controls {
  position: absolute;
  box-sizing: border-box;
  width: 100vw;
  height: calc(220px);
  bottom: 0;
  padding: 0 40px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background: white;
  box-shadow: 0 0 14px #000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#animated-ball {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  top: calc(((100vh - 220px) / 2) - 50px);
  border-radius: 50px;
  background: linear-gradient(217deg, rgba(255,255,255,.8), rgba(255,255,255,0) 70.71%),
            linear-gradient(127deg, rgba(0, 124, 196, 0.8), rgba(0,124,196,0) 70.71%),
            linear-gradient(336deg, rgba(0, 36, 135, 0.8), rgba(0,36,135,0) 70.71%);
  box-shadow: 1px 1px 4px #000;
}

.example-group {
  display: grid;
  box-sizing: border-box;
  grid: auto-flow / 1fr 1fr 1fr;
  padding: 40px 0;
  height: 220px;
  scroll-snap-align: start;
}

.example-group:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
}

.result {
  grid-column: 2 / 4;
}

button {
  height: 60px;
  width: 160px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 4px #ddd;
  font-size: 14px;
}

.code-results {
  border: 1px solid #ccc;
  overflow-x: scroll;
}
